/* Biến cục bộ */
:root {
    /* font-family */
    /* --ff-montserrat: 'Montserrat', sans-serif; */
    --ff-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ff-roboto: 'Roboto Slab', sans-serif;
    /* màu sắc chủ đạo website */
    --color-primary: #FFC800;
    --color-black: #212529;
    --color-gray: #6c757d;
    --color-white: #fff;
    /* backgourd-color */
    --bs-light-rgb: rgba(248, 249, 250, 1);
    --bs-primary-rgb: rgba(255, 200, 0, 1);
}

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Biến được gán giá trị mặc định sử dụng cho toàn website*/

ul {
    list-style: none;
}

body {
    font-family: var(--ff-roboto);
    font-size: 16px;
    transform: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-montserrat);
    color: var(--color-black);
}

p {
    font-family: var(--ff-roboto);
    color: var(--color-gray);
}

.clr {
    clear: both;
}

/*  Biến dùng chung cho nhiều class */
a {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--ff-montserrat);
    color: var(--color-white);
}


.btn-primary {
    padding: 20px 40px;
    background-color: var(--color-primary);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}

.align-items-center {
    align-items: center;
}

.mb-4 {
    margin-bottom: 24px;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* CSS từng thành phần */

/* -=============== HEADING START ===============- */
/* LOGO */
#header {
    padding: 24px 0;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header .header-content .logo {
    width: 190px;
}

/* NAV MENU */

.menu {
    display: flex;
}

.menu-item {
    margin-left: 10px;
}

.menu-link {
    /**Chuyển thành block khi nội dung của
    ** thẻ a lớn hơn chính nó.  */
    display: inline-block;
    padding: 12px;
    font-size: 15px;
    transition: 0.4s;
}

.menu-link:hover {
    color: var(--color-primary);
}

/* BANNER */
#banner {
    background: url("../img/header-bg.jpg");
}

.banner-content {
    height: 80vh;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* muốn căn vị trí theo chiều dọc phải set
    height -> banner url here */
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.banner-content>h2 {
    color: inherit;
    margin-bottom: 32px;
    text-transform: capitalize;
    font-size: 36px;
    font-style: italic;
    font-family: var(--ff-roboto);
    font-weight: 400;
}

.banner-content>h1 {
    color: inherit;
    margin-bottom: 64px;
    font-size: 72px;
    text-align: center;
}

/* .banner-content>a {
    padding: 20px 40px;
    background-color: var(--color-primary);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
} */

/* -===============  HEADING END ===============- */
/* page-section */
.page-section {
    padding: 96px 0;
}

.page-heading {
    margin-bottom: 16px;
    font-size: 40px;
}

.page-description {
    margin-bottom: 64px;
    font-style: italic;
}

/* -=============== Service START ===============- */
/* 1.Service*/
#service {}

.color-primary {
    color: var(--bs-primary-rgb);
}

#service h4 {
    margin: 16px 0;
    font-size: 24px;
}

/* -=============== Porfolio START ===============- */
#porfolio {
    background-color: var(--bs-light-rgb);
    /* background-color: lightskyblue; */
}

/* images */
.portfolio-item {}

.portfolio-link {

    display: block;
    position: relative;

}

.img-fluid {
    max-width: 100%;
    display: block;
}

.portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;

}

/* .portfolio-hover-content {
    font-size: 1.25rem;
    color: white;
} */

.portfolio-link:hover .portfolio-hover {
    opacity: 1;
}

/* text */
.portfolio-content {
    padding: 24px;
    background-color: var(--color-white);
}

.portfolio-content-heading {
    font-size: 1.25rem;
    font-weight: 700;
}


/* -=============== ABOUT START ===============- */

#about {}

.timeline-body {
    padding: 0 15px;
}

.timeline-body h4 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.timeline-body p {
    font-size: 1rem;
}

.timeline-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #e9ecef;
    margin: auto;
    overflow: hidden;
}

.mb-100 {
    margin-bottom: 100px;
}

.circle-end {
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    width: 176px;
    height: 176px;
}

.circle-end h4 {
    color: inherit;
    font-size: 18px;
    line-height: 26px;
}

.timeline {
    position: relative;
}




/* -=============== TEAM START ===============- */
#team {
    background-color: var(--bs-light-rgb);
}

.team-member {
    margin-bottom: 48px;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.team-member h4 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.team-member p {
    margin-bottom: 1rem;

}

.btn-social {
    color: var(--color-white);
    background-color: var(--color-black);
    margin: 0 8px;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
}

.btn-social:focus {
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%);
}

/* 4.5 Brand */
.brand {
    padding: 48px 0;
}

.img-brand {
    height: 2.75rem;

}

.brand a {
    display: block;
    display: block;
    text-align: center;
    margin: 16px 0;
}

/* -=============== CONTACT START ===============- */

#contact {
    background: url("../img/map-image.png");
    background-color: var(--color-black);
    color: var(--color-white);
}

.page-heading {
    color: inherit;
}

.page-description {
    color: var(--color-gray);
}

/* contact-item */
.contact-item {
    text-align: center;
}

/* 1. Input Left */
.contact-form-input:focus {
    border-color: var(--color-primary);
}

.contact-form-input {
    padding: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.25rem;
    font-family: var(--ff-montserrat);
    display: block;
    width: 100%;
    outline: none;
}

/* 2. Input Right */

.text-box {
    padding: 20px;
    height: 100%;
    min-height: 240px;
}

/* 3. button send */
.btn-send-message {
    display: inline-block;
    margin-top: 48px;
}

/* -=============== FOOTER START ===============- */
#footer {
    padding: 24px 0;
    align-items: center;
}

.text-dark {
    color: var(--color-black);
    margin-right: 1rem;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-dark:hover,
.text-dark:focus {
    color: #1a1e21;
}