/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box::before {
    display: none;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    background-color: gray;
    opacity: 0.8;
    /* z-index: 1; */
}

.box::after {
    display: none;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    object-fit: contain; 
    background-image: url('images/4.jpg');
}

img{
    display: block;
    width: 20%;
    height: 50vh
}
